<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">Express SCRATCH</a>
        <ul class="uk-navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users">Users</a>
            </li>
            <li>
                <a href="/cities">Cities</a>
            </li>
        </ul>
    </div>
</nav>
