<html>

<head>
    <title>
        Add Data User
    </title>
</head>

<body>
    <header>
        <h3>
            Add Data User
        </h3>
    </header>
    <a href="/">Home</a>
    <div class="add-data">
        <form action="/users/add" method="POST">
            Username : <br>
            <input type="text" name="username" /> <br> Password : <br>

            <input type="password" name="password" /> <br> Email : <br>
            <input type="text" name="email" /> <br>
            <br>
            <input type="submit" value="Save" />

        </form>
    </div>
    
</body>

</html>