<html>

<head>
    <title>
        Add Data City
    </title>
</head>

<body>
    <header>
        <h3>
            Add Data City
        </h3>
    </header>
    <a href="/">Home</a>
    <div class="add-data">
        <form action="/cities/add" method="POST">
            Name : <br>

            <input type="text" name="name" /> <br> Province : <br>
            <input type="text" name="province" /> <br>
            <br>
            <input type="submit" value="Save" />

        </form>
    </div>
</body>

</html>