<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add User</title>
  </head>
  
  <body>
    <form action="/users/add/simpanuser" method="post">
      Username <input type="text" name="username">
      password <input type="password" name="password">
      email <input type="text" name="email">
      <input type="submit" value="Simpan User">
    </form>
  </body>
</html>