<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cities</title>
  </head>
  <body>
  <ul>
    <li> <h1><%= cities[0].name %> </h1></li>
    <li> <h1><%= cities[1].name %> </h1></li>
    <li> <h1><%= cities[0].province %> </h1></li>
    <li> <h1><%= cities[1].province %> </h1></li>

  </ul>

  </body>
</html>
