<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/cities/edit/<%=data.id%>" method="post">
      <input type="input" name="name" value="<%=data.name%>">
      <input type="input" name="province" value="<%=data.province%>">
      <input type="submit" value="submit">
    </form>

  </body>
</html>
