<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cities</title>
  </head>
  <body>
      <div>
        <h2>Cities</h2>
        <table>
          <% for(var i=0; i < dataCities.cities.length; i++) { %>
   <tr>
     <td><%= dataCities.cities[i].name %></td>
     <td><%= dataCities.cities[i].province %></td>
   </tr>
<% } %>
      </table>
      </div>
  </body>
</html>
