<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%for(var i = 0; i < data.length; i++) {%>
    <p>name: <%=data[i].name%></p>
    <p>provience: <%=data[i].province%></p>
    <%}%>
  </body>
</html>
