<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> nama kota</title>
  </head>
  <body>
    <% for(let i = 0; i < cities.length; i++){%>
      <%= cities[i].name %> <br>
      <%= cities[i].province %> <br>
      <% } %>
  </body>
</html>
