<!DOCTYPE html>
<html>
  <head>
  <style>
  body {margin:0;}

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  table, th, td {
    border: 1px solid black;
  }
  </style>
    <meta charset="utf-8">
    <title>USERS</title>
  </head>
  <body>
    <div class="topnav">
    <a href="/">HOME</a>
    <a href="/users">USER</a>
    <a class="active" href="/cities">CITIES</a>
  </div>
  <div style="padding-left:50px">
    <br>
    <table>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PROVINCE</th>
      </tr>
      <% for(let x = 0; x < dataCities.length; x++) { %>
        <tr>
          <td><%= dataCities[x].id %></td>
          <td><%= dataCities[x].name %></td>
          <td><%= dataCities[x].province %></td>
          <!-- <td><a href="/cities/delete/<%= dataCities[x].id %>">delete</a></td> -->
        </tr>
      <% } %>
    </table>
    <br>
    <a href="/cities/add">ADD CITIES</a>
    <a href="/cities/delete">DELETE CITIES</a>
  </div>
  </body>
</html>
