<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>Edit City</h3>
	<form action="/editCity/<%=objCity.id%>" method="post">
		<input type="text" name="name" value="<%=objCity.name%>">
		<input type="text" name="province" value="<%=objCity.province%>">
		<input type="submit" value="Submit">		
	</form>

</body>
</html>