<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>Edit City</h3>
	<form action="/editUser/<%=objUser.id%>" method="post">
		<input type="text" name="username" value="<%=objUser.username%>">
		<input type="text" name="password" value="<%=objUser.password%>">
		<input type="text" name="email" value="<%=objUser.email%>">
		<input type="submit" value="Submit">		
	</form>

</body>
</html>