<!DOCTYPE html>
<html>
<head>
	<title>Edit</title>
</head>
<body>	
	<h1> Edit User <%= id %> </h1>
	<div class="add">
		<form action="/users/edit" method="post">
			<input type="hidden" name="id" value= <%= id %> <br>
  			USERNAME:<br>
	  		<input type="text" name="username"><br>
  			PASSWORD:<br>
  			<input type="password" name="password"><br>
  			EMAIL:<br>
  			<input type="text" name="email"><br> 
  			<input type="submit" value="kirim"> 				  		
		</form>		
	</div>	
</body>
</html>
