<html>

<head>
    <title>Welcome</title>
</head>

<body>
    <header>
        <h3>
            Welcome to Express My App [Amelia Rahman]
        </h3>
    </header>

    <div class="menu">
        <a href="/users">User</a>
        <a href="/cities">City</a>
    </div>
</body>

</html>