<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rizky Agung Saputro</title>
  </head>
  <body>
    <h1>Welcome to express myapp Rizky Agung Saputro</h1>
    <a href="/users">Users</a>
    <a href="/cities">Cities</a>
  </body>
</html>