<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1><%= msg %></h1>
    <br>
    <a href='users'>go users</a><br>
    <a href='cities'>go city</a>
  </body>
</html>