<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>aplikasi</title>
  </head>
  <body>
    <h1>HOME</h1>
    <a href="/user">user</a> <br>

    <div>
      <form class="form1" action="/contact" method="post">
        <input type="text" name="nama"/><br>
        <input type="text" name="email"/>
        <input type="submit" name="" value="KIRIM">
      </form>
    </div>

  </body>

</html>
