<!DOCTYPE html>
<html>
  <head>
    <title>Yofri App</title>
  </head>
  <body>
    <p>Welcome to Yofri Express App</p>
    <br/>
    <br/>
    <p><b>Legend</b></p>
    <p>'/' to go Home</p>
    <p>'/users' to view users & add users</p>
    <p>'/users/edit/:id' to edit users</p>
    <p>'/cities' to view cities & add city</p>
    <p>'/cities/edit/:id' to edit city</p>
  </body>
</html>