<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%include ./partials/head%>
    <title>Home</title>
  </head>
  <body>
      <%include ./partials/menu%>

      <div class="uk-section uk-section-secondary uk-light">
    <div class="uk-container">
        <h3>Welcome Home</h3>
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <h6>CRUD using :</h6>
                  <li>ExpressJs</li>
                  <li>body-Parser</li>
                  <li>ejs</li>
                <li>UIkit</li>
            </div>
        </div>

    </div>
</div>
  </body>
</html>
