<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express My App</title>
  </head>
  <body>
    <h2 class="wellcome">Welcome to Express My App NandiraSPatur</h2>
    <% include ./partial/menu.ejs %>
  </body>
</html>
