<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%for(var i = 0; i < data.length; i++) {%>
    <p>username: <%=data[i].username%></p>
    <p>password: <%=data[i].password%></p>
    <p>email: <%=data[i].email%></p>
    <%}%>
  </body>
</html>
