<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Menambahkan users</title>
  </head>
  <body>
    <h1>Menambahkan Users</h1>
    <form class="form1" action="/users/added" method="post">
      <input type="hidden" name="id" value="0"><br>
      Username: <input type="text" name="username"/><br>
      Password: <input type="text" name="password"/><br>
      Email: <input type="text" name="email"/><br>
      <input type="submit" name="" value="KIRIM">
     </form>
  </body>
</html>