<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add User</h1>

    <table>
      <thead>
        <tr>
          <th><a href="/">Home</a></th>
          <th><a href="/users">Users</a></th>
          <th><a href="/cities">Cities</a></th>
        </tr>
      </head>
    </table><br>

    <form action="/users/add" method="post">
      Username:<br>
      <input type="text" name="username" value="">
      <br>
      Password:<br>
      <input type="password" name="password" value="">
      <br>
      Email:<br>
      <input type="text" name="email" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
