<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>

    </head>
    <body>
        <h1>
            <%for(var i=0;i < cities.length;i++){%>
                <%=cities[i].name%>
                <%=cities[i].province%>
            <%}%>
            
        </h1>
        
        
        
        
    </body>
</html>